<!DOCTYPE html>
<html>
<head>
  <title>PushFeeds</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="manifest" href="<%= asset_path('manifest.json') %>">
</head>
<body>

<%= yield %>

</body>
</html>
